{{input value=filterQuery placeholder=placeholder autofocus=autofocus}}

<ul {{bindAttr class=listClass}}>
  {{#each object in filteredList}}
    <li class="m0 py1">
      <h4 class="m0 p0">
        [{{object.code}}] {{object.title}}
      </h4>
      <p class="muted m0 p0">
        {{object.summary}}
      </p>
    </li>
  {{/each}}
</ul>
